.header {
    height: 100px;
    width:100%;
    display: flex;
    align-items: center;
    background-color: rgb(0, 45,71);
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  .logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
  }

  .img-logo{
    float: left;
  }
  
  .lineOne {
    font-size: 12px;
    font-weight: 400;
    color: #FFF;
  }
  
  .lineTwo {
    font-size: 13px;
    font-weight: 600;
    color: #FFF;
  }
  
  .cart {
    display: flex;
    align-items: center;
    color: black;
    color: #FFF;
  }
  
  .cartCount {
    margin-right: 10px;
    margin-bottom: 12px;
    color: #FFF;
    border: solid 1px red;
    border-radius: 100%;
    padding: 4px 7px  ;
  }
  
  .cartCount:hover{
    background-color: red;
  }
  
  .navbar {
    margin-left: 950px;
    display: flex;
    justify-content: space-evenly;
    float: right;
  }
  
  .options {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 20px;
    color: black;
    color: #FFF;
    margin-top: 10px;
  }